@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Inter-Regular.ttf') format('ttf');
}

ol,
li {
  list-style-type: none;
}

:root {
  --background: #fff;
  --text: #6c757d;
  --accents: #17a2b8;
}
body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--text);
}

input[type='checkbox'] {
  display: none;
}

button {
  cursor: pointer;
  border: none;
}
input {
  outline: none;
 
}

input:focus {
  border-color: var(--accents);
}

/* input:not(:focus) {
  border-color: transparent;
} */
.checkmark-path {
  stroke-dasharray: 40;
  stroke-dashoffset: 40;
  animation: draw-checkmark 0.3s ease-in-out forwards;
}

@keyframes draw-checkmark {
  to {
    stroke-dashoffset: 0;
  }
}
