@tailwind base;
@tailwind components;
@tailwind utilities;
/* @font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Inter-Regular.woff2') format('woff2');
} */

ol,
li {
  list-style-type: none;
}

:root {
  --background: #fff;
  --text: #6c757d;
  --accents: #17a2b8;
}
body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: var(--accents);
  border: 1px solid var(--accents);
}